// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-size: 62.5%;
}

//Color theme:
@dark: #17252A;
@lightDark: #2B7A78;
@medium: #3AAFA9;
@light: #DEF2F1;
@white: #FEFFFF;

//fonts:
@heading: 'Amaranth', sans-serif;
@paragraph: 'Inder', sans-serif;

.display(@j, @a) {
	display: flex;
	justify-content: @j;
	align-items: @a;
}

.picture() {
	width: 30%;
	height: auto;
	margin: 20px 20px 100px 20px;
	padding: 20px 20px;
	border-radius: 50px;
	background: @white;
	opacity: 0.7;
}

.container {
	width: 80%;
	margin: 0 auto;
	background: @light;
}

nav {
	.display(space-around, center);

	a {
		text-decoration: none;
		color: @lightDark;
		font-size: 2.4rem;
		padding: 15px;
		font-family: @heading;
	}

}

header {
	width: 100%;
	.display(space-between, center);


	img {
		.picture;
	}

	.header-right {
		.display (center, space-around);
		flex-wrap: wrap;

		h1 {
			font-size: 8rem;
			padding: 20px;
			color: @medium;
			font-family: @heading;
		}

		p {
			font-size: 2rem;
			color: @dark;
			line-height: 2.25;
			width: 75%;
			margin: 50px 0;
			font-family: @paragraph;
		}
	}


}

.skills {
	.display(flex-start, center);
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border-top: 2px solid @dark;
	border-bottom: 2px solid @dark;

	.skills-left {
		h2 {
			font-size: 5rem;
			font-family: @heading;
			color: @medium;
			margin: 20px 0;
		}

		ul {
			.display(flex-start, space-between);
			flex-wrap: wrap;
			list-style: circle;
			flex-direction: column;

			li {
				font-size: 2.5rem;
				margin: 10px;
				font-family: @paragraph;
				color: @lightDark;

			}
		}
	}

	img {
		.picture;
	}
}